.morning-brew-nav {
  border-top: 1px solid #e5e5e5;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2px;
  padding-bottom: 0.5rem;
  color: #E33E19;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer !important;
}

.nav-item.active {
  color: black;
  padding-top: 0;
}

.bg-buzz {
  background-color: rgb(48, 73, 95);
}

#buzz h1,
#buzz h4 {
  color: white;
}

#aloha {
  background-color: #fff;
}

#aloha span {
  font-weight: 500;
  color: black;
}

#aloha span[style*="#EDC601"] {
  color: #EDC601;
}

.bg-dukes {
  background-color: #017574;
}

.bg-dukes h5 {
  color: white;
}

.bg-dukes h5.text-warning {
  color: #F1A228 !important;
}